pbr>=0.6,!=0.7,<1.0
eventlet>=0.13.0
keystonemiddleware
python-ceilometerclient
python-keystoneclient
iso8601
PasteDeploy==1.5.2
posix_ipc
pecan>=0.8.0
WSME>=0.7
oslo.config>=1.2.0
oslo.context
oslo.concurrency
oslo.db
oslo.i18n
oslo.log
oslo.messaging
oslo.middleware
oslo.policy
oslo.utils
sqlalchemy
six>=1.7.0
stevedore
