[DEFAULT]

#
# Options defined in cloudkitty.openstack.common.log
#

# Print debugging output (set logging level to DEBUG instead
# of default WARNING level). (boolean value)
#debug=false

# Print more verbose output (set logging level to INFO instead
# of default WARNING level). (boolean value)
#verbose=false

# Log output to standard error. (boolean value)
#use_stderr=true

# Format string to use for log messages with context. (string
# value)
#logging_context_format_string=%(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [%(request_id)s %(user_identity)s] %(instance)s%(message)s

# Format string to use for log messages without context.
# (string value)
#logging_default_format_string=%(asctime)s.%(msecs)03d %(process)d %(levelname)s %(name)s [-] %(instance)s%(message)s

# Data to append to log format when level is DEBUG. (string
# value)
#logging_debug_format_suffix=%(funcName)s %(pathname)s:%(lineno)d

# Prefix each line of exception output with this format.
# (string value)
#logging_exception_prefix=%(asctime)s.%(msecs)03d %(process)d TRACE %(name)s %(instance)s

# List of logger=LEVEL pairs. (list value)
#default_log_levels=amqp=WARN,amqplib=WARN,boto=WARN,qpid=WARN,sqlalchemy=WARN,suds=INFO,oslo.messaging=INFO,iso8601=WARN,requests.packages.urllib3.connectionpool=WARN

# Enables or disables publication of error events. (boolean
# value)
#publish_errors=false

# Enables or disables fatal status of deprecations. (boolean
# value)
#fatal_deprecations=false

# The format for an instance that is passed with the log
# message.  (string value)
#instance_format="[instance: %(uuid)s] "

# The format for an instance UUID that is passed with the log
# message.  (string value)
#instance_uuid_format="[instance: %(uuid)s] "

# The name of a logging configuration file. This file is
# appended to any existing logging configuration files. For
# details about logging configuration files, see the Python
# logging module documentation. (string value)
# Deprecated group/name - [DEFAULT]/log_config
#log_config_append=<None>

# DEPRECATED. A logging.Formatter log message format string
# which may use any of the available logging.LogRecord
# attributes. This option is deprecated.  Please use
# logging_context_format_string and
# logging_default_format_string instead. (string value)
#log_format=<None>

# Format string for %%(asctime)s in log records. Default:
# %(default)s . (string value)
#log_date_format=%Y-%m-%d %H:%M:%S

# (Optional) Name of log file to output to. If no default is
# set, logging will go to stdout. (string value)
# Deprecated group/name - [DEFAULT]/logfile
#log_file=<None>

# (Optional) The base directory used for relative --log-file
# paths. (string value)
# Deprecated group/name - [DEFAULT]/logdir
#log_dir=<None>

# Use syslog for logging. Existing syslog format is DEPRECATED
# during I, and will change in J to honor RFC5424. (boolean
# value)
#use_syslog=false

# (Optional) Enables or disables syslog rfc5424 format for
# logging. If enabled, prefixes the MSG part of the syslog
# message with APP-NAME (RFC5424). The format without the APP-
# NAME is deprecated in I, and will be removed in J. (boolean
# value)
#use_syslog_rfc_format=false

# Syslog facility to receive log lines. (string value)
#syslog_log_facility=LOG_USER


[auth]

#
# Options defined in cloudkitty.config
#

# OpenStack username. (string value)
#username=

# OpenStack password. (string value)
#password=

# OpenStack tenant. (string value)
#tenant=

# OpenStack region. (string value)
#region=

# OpenStack auth URL. (string value)
#url=


[billing]

#
# Options defined in cloudkitty.config
#

# Billing pipeline modules. (list value)
#pipeline=cloudkitty.billing.hash.BasicHashMap,cloudkitty.billing.noop.Noop


[collect]

#
# Options defined in cloudkitty.config
#

# Data collector. (string value)
#collector=cloudkitty.collector.ceilometer.CeilometerCollector

# Number of samples to collect per call. (integer value)
#window=1800

# Billing period in seconds. (integer value)
#period=3600

# Services to monitor. (list value)
#services=compute


[output]

#
# Options defined in cloudkitty.config
#

# Backend for the output manager. (string value)
#backend=cloudkitty.backend.file.FileBackend

# Storage directory for the file output backend. (string
# value)
#basepath=/var/lib/cloudkitty/states/

# Output pipeline (list value)
#pipeline=cloudkitty.writer.osrf.OSRFBackend


[state]

#
# Options defined in cloudkitty.config
#

# Backend for the state manager. (string value)
#backend=cloudkitty.backend.file.FileBackend

# Storage directory for the file state backend. (string value)
#basepath=/var/lib/cloudkitty/states/


